body {
    --font: Lato, monospace;

    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    background: linear-gradient(0deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);

    font-family: var(--font);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    background-color: var(--white);
}

label {
    &::before {
        content: '' !important;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

td, th {
    width: 6vw;
}

thead {
    background-color: var(--blue);

    color: var(--white);
}

#dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    padding: 30px;
    border-radius: var(--radius);

    background-color: var(--white);
}

#form-wrapper {
    width: 40%;
}

.remove-button {
    width: 100%;
    border-radius: var(--radius);
    border: none;
    padding: 8px;

    background: radial-gradient(80.57% 177.78% at 43.23% -101.85%, #FE6D6D 42.37%, #FF1D1D 100%);

    font-family: var(--font);
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.pane {
    max-width: 100%;

    & h2 {
        margin: 0 0 10px;

        text-align: center;
    }
}

@media screen and (max-width: 426px) {
    #dashboard {
        width: 100%;
        padding: var(--radius) 0;
    }
}
