body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    background: linear-gradient(0deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);

    font-family: Lato, monospace;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    background-color: var(--white);
}

label {
    &::before {
        content: '' !important;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2 {
    margin: 0 0 10px;
}

#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: var(--radius);

    background-color: var(--white);
}

#form-wrapper {
    width: 50%;
}

.remove-button {
    width: 100%;
    border-radius: var(--radius);
    border: none;
    padding: 8px;

    color: var(--white);
    background: radial-gradient(80.57% 177.78% at 43.23% -101.85%, #FE6D6D 42.37%, #FF1D1D 100%);

    font-family: Lato, monospace;
    font-weight: bold;
    text-decoration: none;
}

.pane {
    max-width: 100%;
}

@media screen and (max-width: 426px) {
    #dashboard {
        width: 100%;
        padding: var(--radius) 0;
    }
}
